
.ads-grid{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-item-ads{
    margin:0.25rem;
    padding:2rem;
    border-radius: 0.5rem;
}